<h1>You are almost done.</h1>
<p>Please provide your display name and email.</p> 

<%= form_for @user, :url => confirm_path(:account_id => @account) do |f| %>
  <%= f.error_messages %>
  
  <p>
    <%= f.label :display_name %>:
    <%= f.text_field :display_name %>
  </p>
  
  <p>
    <%= f.label :email_address %>:
    <%= f.text_field :email_address %><br />
  </p>

  <p>
    <label>&nbsp;</label>
    <%= f.submit %>
  </p>

<% end %>